@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

.contBookSurrounding {
  display: grid;
  grid-template-columns: 40% 20% 35%;
  grid-template-rows: 1fr;
  margin: 1rem 0 0 0;
  border: solid 1px #e8e8e8;
  background-color: #ffff;
  width: 90%;
}

.contBook {
  grid-area: 1/1/2/2;
  height: 10.625rem;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 92%;
}

.contCircularBar {
  grid-area: 1/2/2/3;
  height: 10.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0.5rem 2.438rem 0 1.688rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Title {
  width: 100%;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 1.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.Suzanne-Collins {
  width: 80%;
  height: 1.188rem;
  margin: 0.5rem 0 1.75rem 1.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.allButtons {
  display: flex;
  margin-left: 1.688rem;
}

.CommentsButton {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  padding: 0 1rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: #fff;
  border-right: solid #e8e8e8 1px;
}

.RemoveButton {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  padding: 0 1rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: #fff;
  border-right: solid #e8e8e8 1px;
}

.EditButton {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  padding: 0 1rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: #fff;
  border-right: solid #e8e8e8 1px;
}

.circle-wrap {
  width: 4.25rem;
  height: 4.25rem;
  background: #ffff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask .fill {
  clip: rect(0, 100px, 100px, 0);
  background-color: #227ded;
}

.circle-wrap .circle,
.circle-wrap .circle .fill {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 4.25rem, 4.25rem, 2.125rem);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .inside-circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #ffff;
  line-height: 3.5rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.Advance {
  display: flex;
}

.textAdvance {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numericalAdvance {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.updateInformation {
  display: flex;
  align-items: center;
}

.verticalDivision {
  width: 0.02rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
  background-color: #e8e8e8;
}

.chapterUpdate {
  display: flex;
  flex-direction: column;
}

.currentChapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapterNumber {
  width: 13.25rem;
  height: 1.313rem;
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.updateButton {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: #ffff;
}
